{% extends "base.html" %}

{% block title %}
    <title >About Us</title>
{% endblock %}

{% block content %}
    <h1 style="color:blue;">About Us</h1>
    <p>I am a driven and ambitious individual who is passionate about learning and personal growth. I have a strong work ethic
    and am always willing to put in the effort to achieve my goals. I am naturally curious and enjoy exploring new ideas and
    concepts, and I am not afraid to ask questions or challenge assumptions. <br>
    
    In my personal life, I am outgoing and sociable, and I enjoy spending time with friends and family. I am also an avid
    reader and enjoy exploring different cultures and perspectives through literature. When I have free time, I like to stay
    active by practicing yoga or going for a run.</p>
    
    In my professional life, I am detail-oriented and have a strong analytical mind. I am always looking for ways to improve
    processes and find more efficient solutions to problems. I am also a strong communicator and work well in teams, as I
    value collaboration and diversity of thought.</p>
    
    Overall, I would describe myself as a curious, hardworking, and sociable individual with a passion for learning and
    personal growth.
{% endblock %}



